.logo{
    width: 40px;
}
.bodycolour{
    background-color: #F3F1FF;
}
.ms-auto{
      align-items: center;
      padding-right: 10px;
}
.row img{
    width: 52px;
}
.pl-4{
    padding-left: 20px;
    text-align: center;
}
.top-player{
    background-color: #ffffff;
    padding-left: 10px;
}
.middle{
    width: 870px;
    padding-top: 20px;
    background-color: #ffffff;
    height: 600px;
}
.top-blog{
    background-color: #ffffff;
    padding-top: 30px;
    padding-left: 10px;
}
.row2 img{
    width: 177px;
    height: 117px;
    float: left;

}
.row2{
    display: flex;
    padding-bottom: 15px;
} 
.row3 img{
    width: 177px;
    height: 117px;
    float: left;
}
.row3{
    display:flex;
}
.fivep{

    padding-top: 20px;
    
}
.main2{
    padding-left:240px;
    padding-right: 240px;
    padding-top: 30px;
   
  
   
}
.border{
    border: solid red;
}
.star{
    width: 15px;
    height: 15px;
}
